<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Ecotías API</title>
</head>
<body>
    <h1 class="title">Ecotías API</h1>
    <div class="block">      
        <div class="notification is-primary is-light">
            <h2 class="subtitle">List all products</h2>
            <a href="https://ecotiasapi.herokuapp.com/api/productos" target="_blank">https://ecotiasapi.herokuapp.com/api/productos</a>
          </div>
      </div>
      <div class="block">      
        <div class="notification is-warning is-light">
            <h2 class="subtitle">List product by id</h2>
            <a href="https://ecotiasapi.herokuapp.com/api/productos/{id}" target="_blank">https://ecotiasapi.herokuapp.com/api/productos/{id}</a>
          </div>
      </div>
    <div class="block">      
        <div class="notification is-link is-light">
            <h2 class="subtitle">List all users</h2>
            <a href="https://ecotiasapi.herokuapp.com/api/usuarios" target="_blank">https://ecotiasapi.herokuapp.com/api/usuarios</a>
          </div>
      </div>
      <div class="block">      
        <div class="notification is-info is-light">
            <h2 class="subtitle">List user by id</h2>
            <a href="https://ecotiasapi.herokuapp.com/api/usuarios/{id}" target="_blank">https://ecotiasapi.herokuapp.com/api/usuarios/{id}</a>
          </div>
      </div>

    

    
</body>
</html>